.modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  height: 70%;
  min-height: 600px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 20%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

@media (min-width: 900px) {
  .modal {
    width: 800px;
    left: calc(50% - 400px);
  }
}
.close {
  stroke: #333;
  stroke-width: 1px;
  width: 35px;
  height: 35px;
  position: absolute;
  padding: 0;
  border: none;
  right: 0;
  top: 0px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.close_svg {
  border: none;
  width: 10px;
  height: 10px;
  outline: none;
}
