.employee {
  height: 100%;
}

.employee_selected,
.employee:hover {
  box-shadow: 0 0 5px #26bbf052;
  background-color: #26bbf00f;
}

.employee_item {
  position: relative;
  flex-direction: column;
  display: flex;
  height: 100%;
}

.employee_poster {
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5em;
  height: 100;
  max-height: 200px;
}

.employee_title {
  font-size: 0.7rem;
  font-weight: 400;
  margin: 0 0 0.7rem;
  text-align: center;
}

.employee_info {
  text-align: center;
  font-size: 0.5rem;
  color: #6e7687;
  margin: auto 0 5px 0;
}

.card__job-title {
  color: #6e2b59;
  margin-top: 1rem;
  font-size: 1rem;
  display: block;
  text-align: center;
}

.card__label {
  color: #474f56;
  font-size: 0.8rem;
  text-align: center;
}

.card__name {
  color: #6e2b59;
  font-size: 2rem;
}

.card__bio {
  color: #474f56;
  font-size: 0.8rem;
}

.right_plan {
  max-height: 240px;
  overflow: hidden;
}
